<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>serendipitious movie recommender</title>
</head>
<body>
<div id="getMovie">
    <h1>Enter the name of the movie</h1>
    <form action="/movie" method="get">
        <fieldset>
            <label for="movie">movie name:</label>
            <input type="text" id="movie" name="movie" placeholder="enter the name of the movie" />

            <input type="submit" value="let the recommendation begin" />

        </fieldset>
    </form>
</div>
</body>
</html>