<h1> Login </h1>
<div id="login">
<form action='' method="get" id="login">
            <label for="uid">user id:</label>
            <input type="text" id="uid" name="uid" placeholder="enter your userid" autofocus="on" />
            <input id ="submit" type="submit" value="log in" onclick="formget()" />
</form>
</div>

<h2 id='message'> {{message}}</h2>

<h2><a href="/register"> Register</a></h2>