<h1> Login </h1>
<form action='/login' method="get">
        <fieldset>
            <label for="uid">user id:</label>
            <input type="text" id="uid" name="uid" placeholder="enter your userid" />
            <input type="submit" value="let the recommendation begin" />
        </fieldset>
</form>
<h2> {{message}}</h2>
<h2><a href="/register"> register</a></h2>